pyyaml
fastapi==0.141.1
uvicorn
py3langid
setuptools-scm
openai==1.109.1
opencv-python==4.14.0.94
gradio
httpx[socks]==0.28.1
astunparse
langchain==0.0.157
scikit-learn
pydantic==1.10.26
typing-extensions==4.16.0
typing-inspect==0.9.0
colorlog
rapidfuzz
spacy
colorama==0.4.6
tiktoken==0.14.0
